@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scroll-behavior: smooth;
}

#navbar-name {
    font-size: xx-large;
    margin-left: 70px;
}

.navbar-links {
    font-size: x-large;
}

:root {
    --lightblue: rgb(116, 116, 196);
    --lightpinkish: rgb(240, 174, 240, 1);
    --shadedlightpinkish: rgba(240, 174, 240, 0.7);
    --darkerpinkish: rgb(243, 134, 243);
    --whitish: rgb(226, 232, 240);
    --lightred: rgb(238, 215, 215);
}

select {
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    background-color: var(--whitish);
    border-radius: 5px;
    font-weight: bold;
}

select:hover {
    box-shadow: 0.1px 0.1px 5px var(--lightpinkish);
}

select::selection {
    border: 0px;
}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

nav {
    border-radius: 0 0 0% 20%/0 0 100% 100%;
    background-color: var(--lightblue);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav a {
    color: #fff;
    position: relative;
    margin-left: 30px;
}

nav a::after {
    content: '';
    border-bottom: 3px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(10px);
    transition: transform 0.3s ease;
    opacity: 0;
}

nav a:hover::after {
    border-bottom: 3px solid #fff;
    transform: translateY(0);
    opacity: 1;
}

a:hover {
    text-decoration: underline;
}

header {
    height: 80vh;
    background-color: var(--lightpinkish);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-position: center center;
    position: relative;
}

.intro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}

header * {
    position: relative;
    z-index: 1;
}

header h1 {
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 0;
}

header p {
    font-size: 30px;
    margin: 0;
}

.skill-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-python {
    background: -webkit-linear-gradient(bottom right, yellow, yellow, blue, blue);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-html5 {
    color: red;
}

.fa-css3 {
    color: blue;
}

.fa-js {
    color: goldenrod;
}

.fa-react {
    color: skyblue
}

.fa-node-js {
    color: green;
}

.fa-php {
    color: slategray;
}

.mongodb {
    color: green;
}

.mysql {
    color: orange;
}

#skills {
    background-color: var(--shadedlightpinkish);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#skills:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-image: url("../images/Untitled.png");
    opacity: 0.2;
}

.skills-icon {
    font-size: xxx-large;
}

#skills-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.bar {
    width: 500px;
    height: 10px;
    background-color: rgb(247, 113, 113);
    animation: bar infinite 3s ease;
}

td {
    width: 200px;
}

@keyframes bar {
    0% {
        width: 0;
    }
}

.projects-section {
    background-color: var(--lightpinkish);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects-grid {
    background-color: rgba(252, 245, 245, 0.6);
    min-height: 30vh;
    max-height: 50vh;
    width: 90%;
    overflow: scroll;
    overflow-x: hidden;
}

.project-type {
    width: 100%;
}

.project {
    height: 30px;
}

.project a {
    color: var(--lightblue);
}

.contact-section {
    background-color: var(--lightpinkish);
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lightblue);
    color: white;
}

.contact-links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-links div a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.social {
    font-size: xx-large;
    color: var(--lightred);
    margin-right: 2px;
}

#email {
    background-color: var(--lightblue);
    color: white;
    width: 90%;
    height: 90%;
    margin-bottom: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email form {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#submit {
    margin-top: 5px;
    border: 0px;
    border-radius: 5px;
    background-color: var(--lightblue);
    color: white;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

#submit:hover {
    box-shadow: none;
}

#emailbody {
    height: 50%;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border-radius: 5px;
}

@media only screen and (max-width:620px) {
    .photo {
        display: none;
    }
    .intro {
        width: 100%;
    }
    .contact-links {
        flex-direction: column;
    }
    #navbar-name {
        font-size: x-large;
        margin-left: 70px;
    }
    .navbar-links {
        font-size: medium;
    }
}